---
// Fundation
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BlogCard from "@/components/blog/BlogCard.astro";
// Cotent
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
---

<section>
  <Wrapper variant="standard" class="py-24">
    <div class="flex flex-wrap gap-4 justify-between items-center">
      <Text
        tag="h2"
        variant="displaySM"
        class="text-base-900 font-display font-thin">Latest articles</Text
      >
      <Button isLink size="sm" variant="muted" href="/blog/">
        See all articles
      </Button>
    </div>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 mt-8">
      {allPosts.slice(0, 3).map((post) => <BlogCard post={post} />)}
    </div>
  </Wrapper>
</section>
