---
import EditCollecitonModal from "./EditCollecitonModal.astro";
import DeleteCollectionModal from "./DeleteCollectionModal.astro";
---

<section>
  <div class="w-full mx-auto       max-w-screen-2xl  px-8 py-24">
    <div class="grid grid-cols-1 gap-6 xl:grid-cols-5">
      <p class=" text-3xl   tracking-wide uppercase text-white font-medium lg:col-span-2">
        Your collections
      </p>
    </div>
    <div
      class="grid grid-cols-1 gap-px gap-y-12 lg:gap-y-24 sm:grid-cols-2
    lg:grid-cols-3 mt-6 mx-auto">
      <div>
        <p class="text-accent-500 text-xs mt-2">
          <span>Collection One</span>
        </p>
        <div class="mt-4">
          <a
            href="/profile/collection-details"
            class="hover:opacity-80 duration-200">
            <div class="rounded-3xl overflow-hidden gap-px grid grid-cols-2">
              <img src="/1.png" alt="#" />
              <img src="/2.png" alt="#" />
              <img src="/3.png" alt="#" />
              <img src="/4.png" alt="#" />
            </div>
          </a>
        </div>
        <div class="flex flex-col gap-px mt-2 w-full">
          <div x-data="{ open: false }" class="w-full">
            <!-- Collection Trigger -->
            <span x-on:click="open = true">
              <button
                type="button"
                class="p-4 duration-200 hover:border-accent-500 h-12 text-white justify-between uppercase border-2 rounded-full inline-flex items-center w-full bg-zinc-800 border-zinc-800">
                <span>Delete collecton</span>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5"
                    viewBox="0 0 32 32"
                    ><path fill="currentColor" d="M12 12h2v12h-2zm6 0h2v12h-2z"
                    ></path><path
                      fill="currentColor"
                      d="M4 6v2h2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8h2V6zm4 22V8h16v20zm4-26h8v2h-8z"
                    ></path></svg
                  ></span
                >
              </button>
            </span>

            <!-- Collection Modal -->
            <DeleteCollectionModal />
          </div>
          <div x-data="{ open: false }" class="w-full">
            <!-- Collection Trigger -->
            <span x-on:click="open = true">
              <button
                type="button"
                class="p-4 duration-200 hover:border-accent-500 h-12 text-white justify-between uppercase border-2 rounded-full inline-flex items-center w-full bg-zinc-800 border-zinc-800">
                <span>Edit collecton</span>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M2 26h28v2H2zM25.4 9c.8-.8.8-2 0-2.8l-3.6-3.6c-.8-.8-2-.8-2.8 0l-15 15V24h6.4l15-15zm-5-5L24 7.6l-3 3L17.4 7l3-3zM6 22v-3.6l10-10l3.6 3.6l-10 10H6z"
                    ></path></svg
                  ></span
                >
              </button>
            </span>

            <!-- Collection Modal -->
            <EditCollecitonModal />
          </div>
        </div>
      </div>
      <div>
        <p class="text-accent-500 text-xs mt-2">
          <span>Collection One</span>
        </p>
        <div class="mt-4">
          <a
            href="/profile/collection-details"
            class="hover:opacity-80 duration-200">
            <div class="rounded-3xl overflow-hidden gap-px grid grid-cols-2">
              <img src="/5.png" alt="#" />
              <img src="/6.png" alt="#" />
              <img src="/7.png" alt="#" />
              <img src="/8.png" alt="#" />
            </div>
          </a>
        </div>
        <div class="flex flex-col gap-px mt-2 w-full">
          <div x-data="{ open: false }" class="w-full">
            <!-- Collection Trigger -->
            <span x-on:click="open = true">
              <button
                type="button"
                class="p-4 duration-200 hover:border-accent-500 h-12 text-white justify-between uppercase border-2 rounded-full inline-flex items-center w-full bg-zinc-800 border-zinc-800">
                <span>Delete collecton</span>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5"
                    viewBox="0 0 32 32"
                    ><path fill="currentColor" d="M12 12h2v12h-2zm6 0h2v12h-2z"
                    ></path><path
                      fill="currentColor"
                      d="M4 6v2h2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8h2V6zm4 22V8h16v20zm4-26h8v2h-8z"
                    ></path></svg
                  ></span
                >
              </button>
            </span>

            <!-- Collection Modal -->
            <DeleteCollectionModal />
          </div>
          <div x-data="{ open: false }" class="w-full">
            <!-- Collection Trigger -->
            <span x-on:click="open = true">
              <button
                type="button"
                class="p-4 duration-200 hover:border-accent-500 h-12 text-white justify-between uppercase border-2 rounded-full inline-flex items-center w-full bg-zinc-800 border-zinc-800">
                <span>Edit collecton</span>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M2 26h28v2H2zM25.4 9c.8-.8.8-2 0-2.8l-3.6-3.6c-.8-.8-2-.8-2.8 0l-15 15V24h6.4l15-15zm-5-5L24 7.6l-3 3L17.4 7l3-3zM6 22v-3.6l10-10l3.6 3.6l-10 10H6z"
                    ></path></svg
                  ></span
                >
              </button>
            </span>

            <!-- Collection Modal -->
            <EditCollecitonModal />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
