<div
  x-show="open"
  style="display: none"
  x-on:keydown.escape.prevent.stop="open = false"
  role="dialog"
  aria-modal="true"
  x-id="['modal-title']"
  :aria-labelledby="$id('modal-title')"
  class="fixed inset-0 z-10 overflow-y-auto">
  <!-- Overlay -->
  <div
    x-show="open"
    x-transition.opacity
    class="fixed inset-0 bg-black bg-opacity-50">
  </div>

  <!-- Panel -->
  <div
    x-show="open"
    x-transition
    x-on:click="open = false"
    class="relative flex min-h-screen items-center justify-center p-4">
    <div
      x-on:click.stop
      x-trap.noscroll.inert="open"
      class="relative w-full max-w-2xl overflow-y-auto bg-white border p-12 shadow-lg">
      <!-- Title -->
      <h2
        class="text-xl tracking-tighter text-black font-medium"
        :id="$id('modal-title')">
        Collection One
      </h2>

      <!-- Content -->
      <p class="mt-2 text-zinc-500">Edit your collection.</p>
      <div class="divide-y mt-8">
        <div class="flex flex-col gap-1 mt-4 pt-4">
          <span class="uppercase text-sm text-black">Edit</span>
          <div class="flex flex-col gap-2 mt-2">
            <input
              class="block w-full h-12 border-0 bg-zinc-100 border-trasnparent py-1.5 pr-14 text-black ring-0 ring-inset border-b border-zinc-900 ring-transparent placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-accent-600 sm:text-sm sm:leading-6"
              placeholder="Title"
              maxlength="255"
              id="#"
              type="text"
              name="#"
            />
            <div class="flex items-center">
              <input
                id="#"
                name="#"
                type="checkbox"
                class="h-4 w-4 text-500 focus:ring-zinc-600 text-black"
              /><label for="#" class="ml-2 block text-sm text-zinc-500"
                >Allow others to view this collection
              </label>
            </div>
            <button
              type="button"
              class="inline-flex h-12 items-center border border-accent-600 px-3.5 justify-between py-2 text-sm font-medium text-accent-600 hover:bg-accent-600 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-100 focus:ring-1 focus:ring-offset-1 focus:ring-blue-600 focus:bg-accent-600 focus:text-white cursor-pointer duration-200 shrink-0">
              <span>Submit</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
