
<section class="relative overflow-hidden">
    
  <div class="w-full relative px-8 py-24 mx-auto max-w-screen-2xl items-center flex flex-col h-screen justify-center ">
    <div class="max-w-md mx-auto text-center">
      <p class=" text-3xl   tracking-wide uppercase text-white font-medium">
        Edit your profile
      </p>

      <form class="flex flex-col gap-px mx-auto mt-14" action="#" method="POST">
        <div>
          <label
            for="name"
            class="sr-only"
            >Your name</label
          >
          <div>
            <input
              id="name"
              name="name"
              type="text"
              autocomplete="name"
              value="Michael Andreuzza"
              required
              class="block items-center px-4 ring-offset-zinc-800 w-full text-center rounded-full h-14 border-0 bg-zinc-800   relative  border-trasnparent py-1.5  text-white ring-0 ring-inset ring-white placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-accent-500 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <div class="flex items-center mt-2 justify-between py-2">
          <input
            id="#"
            name="#"
            type="checkbox"
            class="h-4 w-4 text-500 focus:ring-zinc-600 text-black bg-zinc-800 rounded-full border-accent-500"
          /><label for="#" class="ml-2 block text-sm text-zinc-400"
            >Check this if you are an agency or organisation
          </label>
        </div>

        <div>
          <label
            for="email"
            class="sr-only"
            >Email address</label
          >
          <div>
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              required
              placeholder="placeholder text"
              class="block items-center px-4 ring-offset-zinc-800 w-full text-center rounded-full h-14 border-0 bg-zinc-800   relative  border-trasnparent py-1.5  text-white ring-0 ring-inset ring-white placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-accent-500 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
       <div class="py-2">
          <small class="text-xs text-zinc-400"
            >This will be displayed publicly, so please use a sales or general
            address.
          </small>
       </div>
        <div>
          <label
            for="website"
            class="sr-only"
            >Website</label
          >

          <div>
            <input
              id="website"
              name="website"
              type="text"
              autocomplete="website"
              value="https://michaelandreuzza.com"
              required
              class="block items-center px-4 ring-offset-zinc-800 w-full text-center rounded-full h-14 border-0 bg-zinc-800   relative  border-trasnparent py-1.5  text-white ring-0 ring-inset ring-white placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-accent-500 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <div>
          <label
            for="twitter"
            class="sr-only"
            >Website</label
          >

          <div>
            <input
              id="twitter"
              name="twitter"
              type="text"
              autocomplete=""
              value="@Mike_Andreuzza"
              required
              class="block items-center px-4 ring-offset-zinc-800 w-full text-center rounded-full h-14 border-0 bg-zinc-800   relative  border-trasnparent py-1.5  text-white ring-0 ring-inset ring-white placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-accent-500 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
       <div class="py-2"> <small class="text-xs text-zinc-400">Don't include the @ prefix</small></div>
       <div class="flex">
        <button
        type="button"
        class="py-1 pl-4 duration-200 pr-2 border-accent-500 justify-center bg-accent-500 hover:text-black h-12 hover:bg-white text-white  uppercase border-2 hover:border-white rounded-full inline-flex items-center w-full"
      >
       Save
        
      </button>
      </div>
      </form>
    </div>
  </div>
</section>
