<section class="relative overflow-hidden">
  <div class="w-full relative px-8 py-24 mx-auto max-w-screen-2xl items-center flex flex-col h-screen justify-center ">
    <p
    class=" text-3xl   tracking-wide uppercase text-white font-medium">
      Your profiles
    </p>
    <div class="mt-12">
      <div class="max-w-md mx-auto bg-zinc-800  p-10 rounded-3xl">
        <div class="sm:flex sm:space-x-5 items-center">
          <div class="flex-shrink-0">
            <img
              class="mx-auto h-12 w-12 rounded-full"
              src="/avatar.jpg"
              alt=""
            />
          </div>
          <div class="mt-4 text-center sm:mt-0 sm:pt-1 sm:text-left">
            <p class="text-xl tracking-tighter text-accent-500 uppercase font-medium">
              Michael Andreuzza
            </p>
            <p class="text-sm font-medium text-zinc-400 mt-1">
              Product Designer
            </p>
          </div>
        </div>
        <p class="text-sm font-medium text-zinc-400 mt-4">
          Building: ✺ http://lexingtonthemes.com
        </p>
        <div class="text-right mt-24 w-full items-end flex">
          <a
            href="#_"
            class="py-1 pl-4 duration-200 pr-2 border-accent-500 bg-accent-500 hover:text-black h-12 hover:bg-white text-white justify-between uppercase border-2 hover:border-white gap-12 rounded-full inline-flex items-center w-full">
            Visit Michael's website
            <div
            class="bg-black h-8 w-8 text-white inline-flex items-center justify-center rounded-full"
          >
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5"
                viewBox="0 0 32 32"
                ><path
                  fill="currentColor"
                  d="m18 6l-1.43 1.393L24.15 15H4v2h20.15l-7.58 7.573L18 26l10-10L18 6z"
                ></path></svg
              ></span
            >
          </div></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
