<section>
  <div class="w-full mx-auto bg-white max-w-screen-2xl px-8 py-24">
    <div class="max-w-md mx-auto">
      <p class="text-4xl lg:text-5xl tracking-tighter text-black font-medium">
        Edit settings
      </p>

      <form class="space-y-6 mx-auto mt-14" action="#" method="POST">
        <div>
          <label
            for="first-name"
            class="block text-sm font-medium leading-6 text-black"
            >First name</label
          >
          <div class="mt-2">
            <input
              id="first-name"
              name="first-name"
              type="text"
              autocomplete="first-name"
              placeholder="placeholder text"
              required
              class="block w-full h-12 border-0 bg-zinc-100 border-trasnparent py-1.5 pr-14 text-black ring-0 ring-inset border-b border-zinc-900 ring-transparent placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-accent-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <div>
          <label
            for="last-name"
            class="block text-sm font-medium leading-6 text-black"
            >Last name</label
          >
          <div class="mt-2">
            <input
              id="last-name"
              name="last-name"
              type="text"
              autocomplete="last-name"
              placeholder="placeholder text"
              required
              class="block w-full h-12 border-0 bg-zinc-100 border-trasnparent py-1.5 pr-14 text-black ring-0 ring-inset border-b border-zinc-900 ring-transparent placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-accent-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <div>
          <label
            for="email"
            class="block text-sm font-medium leading-6 text-black"
            >Email address</label
          >
          <div class="mt-2">
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              required
              placeholder="placeholder text"
              class="block w-full h-12 border-0 bg-zinc-100 border-trasnparent py-1.5 pr-14 text-black ring-0 ring-inset border-b border-zinc-900 ring-transparent placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-accent-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <div>
          <label
            for="password"
            class="block text-sm font-medium leading-6 text-black"
            >Password</label
          >

          <div class="mt-2">
            <input
              id="password"
              name="password"
              type="text"
              autocomplete="password"
              value="*********"
              required
              class="block w-full h-12 border-0 bg-zinc-100 border-trasnparent py-1.5 pr-14 text-black ring-0 ring-inset border-b border-zinc-900 ring-transparent placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-accent-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <small class="text-xs text-zinc-500"
          >Leave blank if you don't want to change</small
        >
        <div>
          <label
            for="confirm-password"
            class="block text-sm font-medium leading-6 text-black"
            >Confirm Password</label
          >

          <div class="mt-2">
            <input
              id="confirm-password"
              name="confirm-password"
              type="text"
              autocomplete="password"
              value="*********"
              required
              class="block w-full h-12 border-0 bg-zinc-100 border-trasnparent py-1.5 pr-14 text-black ring-0 ring-inset border-b border-zinc-900 ring-transparent placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-accent-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <div class="flex items-center">
          <input
            id="#"
            name="#"
            type="checkbox"
            class="h-4 w-4 text-500 focus:ring-zinc-600 text-black"
          />
          <label for="#" class="ml-2 block text-sm text-zinc-500"
            >Receive emails from us?</label
          >
        </div>
        <small class="text-xs text-zinc-500"
          >Receive a weekly digest of new sites on Friday, plus other (very)
          occasional news
        </small>
        <div class="flex">
          <button
            type="submit"
            class="inline-flex h-12 items-center bg-accent-600 pl-4 pr-16 justify-between py-2 text-xs font-normal text-white hover:bg-accent-700 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-100 cursor-pointer duration-200 gap-12 focus:ring-1 focus:ring-offset-1 focus:ring-blue-600 focus:bg-accent-600 focus:text-white w-auto"
            >Sign in</button
          >
        </div>
      </form>
      <div class="mt-24">
        <p class="text-xl tracking-tighter text-black font-medium">
          Cancel account
        </p>
        <p class="text-sm text-zinc-500 mx-auto">
          You can cancel your account by clicking the following button. Your
          data will be permanently removed.
        </p>
        <div class="flex mt-8">
          <button
            type="submit"
            class="inline-flex h-12 items-center bg-red-600 pl-4 pr-16 justify-between py-2 text-xs font-normal text-white hover:bg-red-700 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-100 cursor-pointer duration-200 gap-12 focus:ring-1 focus:ring-offset-1 focus:ring-red-600 focus:bg-red-600 focus:text-white w-auto"
            >Delete your account</button
          >
        </div>
      </div>
    </div>
  </div>
</section>
