---
import EditSubmissionModal from "@/pages/profile/EditSubmissionModal.astro";
---

<section>
  <div class="w-full px-8 py-24 mx-auto max-w-screen-2xl  mt-24" >
    <p
    class=" text-3xl   tracking-wide uppercase text-white font-medium">
      Your submissions
    </p>
    <div class="mt-12 flow-root">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full  align-middle rounded-3xl overflow-hidden">
          <table
            class="min-w-full divide-y-2  divide-zinc-900 bg-zinc-700 ">
            <thead>
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-8 pr-3 text-left text-sm font-semibold text-white  uppercase"
                  >Website URL</th
                >
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-white uppercase"
                  >Submitted on</th
                >

                <th scope="col" class="py-3.5 pl-3 pr-8">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-900 divide-y-2 divide-zinc-900">
              <tr class="bg-zinc-800">
                <td
                  class="whitespace-nowrap py-4 pl-8 pr-3 text-sm font-medium text-white "
                  ><a
                    href="#_"
                    class="text-accent-500 font-normal hover:underline"
                    >lexingtonthemes.com</a
                  ></td
                >
                <td class="whitespace-nowrap px-3 py-4 text-sm text-zinc-400">
                  June 11, 2023 19:18</td
                >

                <td
                  x-data="{ open: false }"
                  class="py-4 pl-3 pr-4 text-sm font-medium sm:pr-3 text-right">
                  <!-- Collection Trigger -->
                  <span x-on:click="open = true" class="text-left">
                    <button
                      type="button"
                      class="text-accent-500 font-normal hover:underline">
                      Edit
                    </button>
                    <!-- Collection Modal -->
                    <EditSubmissionModal />
                  </span>
                </td>

                <!-- More people... -->
              </tr>
               <tr class="bg-zinc-800">
                <td
                  class="whitespace-nowrap py-4 pl-8 pr-3 text-sm font-medium text-white "
                  ><a
                    href="#_"
                    class="text-accent-500 font-normal hover:underline"
                    >michaelandreuzza.com</a
                  ></td
                >
                <td class="whitespace-nowrap px-3 py-4 text-sm text-zinc-400"
                  >February 21, 2023 16:26
                </td>

                <td
                  x-data="{ open: false }"
                  class="py-4 pl-3 pr-4 text-sm font-medium sm:pr-3 text-right">
                  <!-- Collection Trigger -->
                  <span x-on:click="open = true" class="text-left">
                    <button
                      type="button"
                      class="text-accent-500 font-normal hover:underline">
                      Edit
                    </button>
                    <!-- Collection Modal -->
                    <EditSubmissionModal />
                  </span>
                </td>

                <!-- More people... -->
              </tr>

               <tr class="bg-zinc-800">
                <td
                  class="whitespace-nowrap py-4 pl-8 pr-3 text-sm font-medium text-white "
                  ><a
                    href="#_"
                    class="text-accent-500 font-normal hover:underline"
                    >colorsanfonts.com.com</a
                  ></td
                >
                <td class="whitespace-nowrap px-3 py-4 text-sm text-zinc-400"
                  >July 20, 2022 23:40
                </td>

                <td
                  x-data="{ open: false }"
                  class="py-4 pl-3 pr-4 text-sm font-medium sm:pr-3 text-right">
                  <!-- Collection Trigger -->
                  <span x-on:click="open = true" class="text-left">
                    <button
                      type="button"
                      class="text-accent-500 font-normal hover:underline">
                      Edit
                    </button>
                    <!-- Collection Modal -->
                    <EditSubmissionModal />
                  </span>
                </td>

                <!-- More people... -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
