---
import { getCollection } from "astro:content";
const allPosts = await getCollection("directory");
import BaseLayout from "@/layouts/BaseLayout.astro";
import HeroOne from "@/components/heros/HeroOne.astro";
import DirectoryEntriesOne from "@/components/directory/DirectoryEntriesOne.astro";
import { directory } from "@/data/directory.json";
---

<BaseLayout>
  <HeroOne />
  <section x-data="{ open: false }">
    <div class="w-full mx-auto max-w-screen-2xl px-8 py-24">
      <div
        class="grid grid-cols-1 gap-px gap-y-12 lg:gap-y-24 sm:grid-cols-2 lg:grid-cols-3 mt-6 mx-auto"
      >
          {
            allPosts
              .slice()
              .map((directory) => (
                <DirectoryEntriesOne
                  visitUrl={"/directory/" + directory.slug}
                  websiteName={directory.data.websiteName}
                  description={directory.data.description}
                  alt={directory.data.websiteName}
                  pubDate={directory.data.pubDate.toString().slice(0, 10)}
                  thumbnail={directory.data.thumbnail.url}
                />
              ))
          }
      

      </div>
    </div>
  </section>
</BaseLayout>
