---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Array with links to all pages
const pages = [
  {
    title: "Static pages",
    categories: [
      {
        title: "Pages",
        links: [
          { href: "/", text: "Home" },
          { href: "/about", text: "About" },
          { href: "/404", text: "404" },
        ],
      },
      {
        title: "Advertise",
        links: [
          { href: "/pricing", text: "Membership" },
          { href: "/advertise", text: "Advertise" },
        ],
      },
      {
        title: "Forms",
        links: [
          { href: "/signin", text: "Sing in" },
          { href: "/signup", text: "Sing up" },

          { href: "/submit", text: "Submit" },
        ],
      },
      {
        title: "System",
        links: [
          { href: "/system/links", text: "Links" },
          { href: "/system/buttons", text: "Buttons" },
          { href: "/system/colors", text: "Colors" },
          { href: "/system/typography", text: "Typography" },
          {
            href: "https://lexingtonthemes.com/legal/license",
            text: "License",
          },
          {
            href: "https://lexingtonthemes.com/legal/support",
            text: "Support",
          },
          {
            href: "https://lexingtonthemes.com/documentation/",
            text: "Documentation",
          },
        ],
      },
    ],
  },
  {
    title: "Content collections",
    categories: [
      {
        title: "Directory",
        links: [
          { href: "/sites/", text: "Home" },
          { href: "/sites/site/1", text: "Details" },
          { href: "/sites/tags", text: "Tag index" },
          { href: "/sites/tags/design", text: "Tag category" },
        ],
      },
      {
        title: "Blog",
        links: [
          { href: "/blog/", text: "Home" },
          { href: "/blog/posts/1", text: "Details" },
          { href: "/blog/tags", text: "Tag index" },
          { href: "/blog/tags/3d", text: "Tag category" },
          { href: "/rss.xml", text: "RSS" },
        ],
      },
      {
        title: "Store",
        links: [
          { href: "/store/", text: "Home" },
          { href: "/store/1", text: "Details" },
        ],
      },
      {
        title: "Legal",
        links: [
          { href: "/legal/terms", text: "Terms" },
          { href: "/legal/privacy", text: "Privacy" },
        ],
      },
    ],
  },
];
const modalIds = {
  submit: "submit-modal",
  bookmarks: "bookmarks-modal",
  createCollection: "create-collection-modal",
  editCollection: "edit-collection-modal",
  removeCollection: "remove-collection-modal",
  subscribe: "subscribe-modal",
  deleteAccount: "delete-account-modal",
  editAccount: "edit-account-modal",
  createAccount: "create-account-modal",
};
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24 lg:pt-48">
      <Text
        tag="h1"
        variant="displayLG"
        class="text-base-900 font-display font-thin"
      >
        Overview
      </Text>
      <div class="space-y-12 mt-12">
        {
          pages.map((section) => (
            <div>
              <Text
                tag="p"
                variant="displayMD"
                class="text-base-900  text-balance font-display font-thin"
              >
                {section.title}
              </Text>
              <div class="mt-8  grid grid-cols-2 md:grid-cols-2 lg:grid-cols-5 gap-8 gap-y-4">
                {section.categories.map((category) => (
                  <div class="flex flex-col gap-2 ">
                    <Text
                      tag="p"
                      variant="textBase"
                      class="text-base-900 font-medium"
                    >
                      {category.title}
                    </Text>
                    <ul role="list">
                      {category.links.map((link) => (
                        <li>
                          <Text
                            tag="a"
                            variant="textSM"
                            href={link.href}
                            class="text-base-600 hover:text-accent-500"
                          >
                            {link.text}
                          </Text>
                        </li>
                      ))}
                    </ul>
                  </div>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
