@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Bricolage Grotesque", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Bricolage Grotesque", sans-serif;
  }
}

:root {
  --astro-code-color-text: #fafafa;
  --astro-code-color-background: #27272a;
  --astro-code-token-constant: #ffffff80;
  --astro-code-token-string: #ffffff50;
  --astro-code-token-comment: #eb542b;
  --astro-code-token-keyword: #fff;
  --astro-code-token-parameter: #ffffff;
  --astro-code-token-function: #fff;
  --astro-code-token-string-expression: #eb542b;
  --astro-code-token-punctuation: #ffffff;
  --astro-code-token-link: #ffffff;
}

.prose-styles {
  @apply  prose text-zinc-400 prose-lg prose-blockquote:text-accent-500    prose-a:font-normal prose-a:text-accent-500 hover:prose-a:text-black prose-h1:text-3xl  prose-headings:text-white   prose-p:text-sm prose-pre:font-mono max-w-none   prose-headings:font-normal;
}
