---
// Fundations
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import MobileNav from "./MobileNav.astro";
// Quick access links
const links = [
  { href: "/", text: "Home" },
  { href: "/faq/", text: "FAQ" },
  { href: "/about/", text: "About" },
  { href: "/contact/", text: "Contact" },
];
---

<MobileNav />
<nav class="fixed w-full top-0 z-20 bg-white py-4 hidden md:block border-b border-base-100">
  <Wrapper variant="standard">
    <div
      class="flex items-center justify-between w-full gap-3 relative"
    >
      <a
        href="/"
        class="shrink-0 focus:outline-none font-display text-lg text-base-900"
        aria-label="Go to homepage"
      >
        Events
      </a>
      <div class="flex items-center gap-6">
        {
          links.map((link) => (
            <a
              class="text-base-600 hover:text-base-900 text-sm whitespace-nowrap transition-colors duration-200"
              href={link.href}
            >
              {link.text}
            </a>
          ))
        }
      </div>
    </div>
  </Wrapper>
</nav>
