<section>
  <div class="w-full mx-auto max-w-screen-xl lg:px-32 px-8 py-24   ">
    <div class="max-w-xl mx-auto">
      <h1 class="text-black mt-4 font-semibold text-4xl tracking-tighter">
        About
      </h1>
      <div class="prose-styles">
        <p>
          In our overview, we are the hub of computing, tackling significant and
          enduring challenges through the collaboration of diverse experts,
          including researchers, scientists, technologists, engineers,
          designers, and thinkers. Our focus spans game-changing innovations in
          computing, such as pioneering materials for future computer chips,
          creating unbiased AI for business decisions, developing a
          world-spanning hybrid-cloud platform, and advancing quantum computing
          from theory to practical systems.
        </p>

        <p>
          At Carbon Research, our guiding principles center on the scientific
          method, prioritizing meaningful impact over market trends and vision
          over self-promotion. We value creative freedom, excellence, and
          integrity as indispensable elements of groundbreaking work. We
          emphasize responsibility in developing technology and its impact on
          society. Our decisions are driven by a commitment to a more promising
          future, recognizing the transformative potential of computing as an
          instrument of progress and connectivity. This is the future we are
          actively constructing.
        </p>
      </div>
    </div>
  </div>
</section>
