<section>
  <div class="w-full px-8 py-24 mx-auto max-w-screen-xl lg:px-32">
    <div class="max-w-xl mx-auto">
      <h1 class="text-4xl font-normal tracking-tighter text-black lg:text-6xl">
        We’re sorry!
      </h1>
      <p class="max-w-sm mt-4 text-sm text-zinc-500">
        The page you're looking for may have been moved or deleted. Start a new
        search on website.com or go back <a href="/" class="text-accent-600 duration-200 hover:text-black">home</a>.
      </p>
      <div class="max-w-lg mt-12">
        <label for="search" class="sr-only">Quick search</label>
        <div class="relative inline-flex w-full items-center">
          <input
            placeholder="Search for topics, titles and authors..."
            type="text"
            name="search"
            id="search"
            class="block items-center pl-12 w-full h-16 border-0 bg-zinc-100 relative border-b border-zinc-900 border-trasnparent py-1.5 pr-14 text-black ring-0 ring-inset ring-transparent placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-accent-600 sm:text-sm sm:leading-6"
          />
          <div class="absolute inset-y-0 left-0 flex py-5 pl-2">
            <svg
              class="inline-flex items-center w-6 h-6"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              ><path
                fill="currentColor"
                d="m29 27.586l-7.552-7.552a11.018 11.018 0 1 0-1.414 1.414L27.586 29ZM4 13a9 9 0 1 1 9 9a9.01 9.01 0 0 1-9-9Z"
              >
              </path></svg
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
