---
// Fundation
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper
      variant="standard"
      class="py-24 flex flex-col h-full lg:h-dvh items-center justify-center"
    >
      <div class="max-w-xl mx-auto text-balance">
        <div class="text-center">
          <Text
            tag="h1"
            variant="displayLG"
            class="text-base-900 font-display font-light"
          >
            Error 404
          </Text>

          <Text tag="p" variant="textBase" class="text-base-600 mt-4">
            Sorry, the page you are looking for does not exist. It might have
            been removed, renamed, or is temporarily unavailable.
          </Text>
        </div>
        <Button
          isLink
          size="base"
          variant="default"
          title="#_"
          href="/"
          class="mt-12 w-fit mx-auto"
        >
          Go back home
        </Button>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
