---
import { directory } from "../../data/directory.json";

---

<section x-data="{ open: false }">
  <div class="w-full mx-auto max-w-screen-2xl  px-8 py-12   ">
  

    <div
      class="grid grid-cols-1 gap-px gap-y-12 lg:gap-y-24 sm:grid-cols-2 lg:grid-cols-3 mt-6 mx-auto">
      {
        directory.map((template) => (
          <>
            <div class="group">
              <a href={template.link} class="hover:opacity-80 duration-200 ">
                <div class="border border-zinc-800   group-hover:grayscale overflow-hidden rounded-4xl ">
                  <img src={template.img} alt="#" />
                </div>
              </a>
              <div class="flex flex-col  uppercase mt-2">
                <p class="text-white text-sm">{template.title}</p>
                <p class="text-zinc-500 text-xs mt-1">Added on {template.date}</p>
                
              </div>
            </div>
          </>
        ))
      }
    </div>
  </div>
</section>
