<section>
  <div class="w-full mx-auto bg-white max-w-screen-2xl px-8 py-24">
    <div class="max-w-md mx-auto">
      <p class="text-4xl lg:text-5xl tracking-tighter text-black font-medium">
        Submit a website
      </p>
      <p class="text-sm text-zinc-500 max-w-md mx-auto">
        Feel free to submit a website to our collection if you think it will be
        a good match. You will hear from us as soon as possible
      </p>
      <form class="space-y-6 mx-auto mt-14" action="#" method="POST">
        <div>
          <label
            for="name"
            class="block text-sm font-medium leading-6 text-black"
            >Your name</label
          >
          <div class="mt-2">
            <input
              id="name"
              name="name"
              type="text"
              autocomplete="name"
              placeholder="placeholder text"
              required
              class="block w-full h-12 border-0 bg-zinc-100 border-trasnparent py-1.5 pr-14 text-black ring-0 ring-inset border-b border-zinc-900 ring-transparent placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <div>
          <label
            for="email"
            class="block text-sm font-medium leading-6 text-black"
            >Email address</label
          >
          <div class="mt-2">
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              required
              placeholder="placeholder text"
              class="block w-full h-12 border-0 bg-zinc-100 border-trasnparent py-1.5 pr-14 text-black ring-0 ring-inset border-b border-zinc-900 ring-transparent placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <div>
          <label
            for="website-link"
            class="block text-sm font-medium leading-6 text-black"
            >Website Llink</label
          >
          <small class="text-xs text-zinc-500"
            >Please provide the website's domain only, rather than a specific
            page.
          </small>
          <div class="mt-2">
            <input
              id="website-link"
              name="website-link"
              type="text"
              autocomplete="website-link"
              placeholder="placeholder text"
              required
              class="block w-full h-12 border-0 bg-zinc-100 border-trasnparent py-1.5 pr-14 text-black ring-0 ring-inset border-b border-zinc-900 ring-transparent placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <div class="flex">
          <button
            type="submit"
            class="inline-flex h-12 items-center bg-blue-600 pl-4 pr-16 justify-between py-2 text-xs font-normal text-white hover:bg-blue-700 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-100 cursor-pointer duration-200 gap-12 focus:ring-1 focus:ring-offset-1 focus:ring-blue-600 focus:bg-blue-600 focus:text-white w-auto"
            >Submit</button
          >
        </div>
      </form>
    </div>
  </div>
</section>
