---
// Assets
import { Image } from "astro:assets";
import Lex from "@/images/lex.jpg";
// Fundation
import Text from "@/components/fundations/elements/Text.astro";
---

<div
  class="group-hover:opacity-30 hover:opacity-100 peer hover:peer-hover:opacity-30 duration-300 group"
>
  <div class="relative p-8 bg-base-50 rounded-lg">
    <Image
      width="900"
      height="900"
      src={Lex}
      alt="#_"
      class="object-cover aspect-8/5 w-full object-top rounded-lg outline outline-base-100 shadow"
    />
    <a href="/pricing" title="#_">
      <span class="absolute inset-0"></span>
    </a>
  </div>
  <div class="pt-2">
    <Text tag="h3" variant="textSM" class="text-base-600 capitalize"
      >Your sponsor card
    </Text>
    <Text tag="p" variant="textXS" class="text-base-600">Become a sponsor </Text>
  </div>
</div>
