---
// Layout
import BaseLayout from "@/layouts/BaseLayout.astro";
// Fundation
import BlogCard from "@/components/blog/BlogCard.astro";

import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Content 
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <section class="relative overflow-hidden">
    <Wrapper variant="standard" class="py-24 lg:pt-48">
      <Text
        tag="h1"
        variant="displayLG"
        class="text-base-900 font-display font-thin"
      >
        All blog posts about {tag}
      </Text>

      <div
        class="grid grid-cols-1 gap-px gap-y-12 md:grid-cols-2 lg:grid-cols-3 group mt-8"
      >
        {posts.slice(0, 3).map((post) => <BlogCard post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
