---
// Layout
import BaseLayout from "@/layouts/BaseLayout.astro";
// Fundation
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Content
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
// Collect all unique tags
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout>
  <section>
    <Wrapper variant="narrow" class="py-24 lg:pt-48">
      <Text
        tag="h1"
        variant="displayLG"
        class="text-base-900 font-display font-thin text-center"
      >
        Explore all tags
      </Text>
      <ul role="list" class="flex flex-col gap-1 mt-12">
        {
          tags.map((tag) => (
            <Button
              isLink
              size="sm"
              variant="muted"
              title={tag}
              aria-label={tag}
              href={`/blog/tags/${tag}`}
              class="capitalize"
            >
              {tag}
            </Button>
          ))
        }
      </ul>
    </Wrapper>
  </section>
</BaseLayout>
