<section>
  <div class="w-full px-8 py-24 mx-auto max-w-screen-2xl mt-24">
    <div class="text-center">
      <h1 class="text-3xl tracking-wide uppercase text-white font-medium">
        Overview
      </h1>
    </div>
    <div
      class="grid grid-cols-1 gap-px gap-y-6 sm:grid-cols-2 max-w-4xl mt-12 mx-auto text-white"
    >
      <ul role="list" class="p-8 lg:p-10 bg-zinc-800 rounded-4xl lg:grid-cols-2 grid grid-cols-1 gap-4 ">
        <li>
          <p class="text-base font-medium tracking-wide uppercase">
            Landing pages
          </p>
          <ul role="list" class="mt-2">
            <li>
              <a class="hover:underline" href="/landings/landing-one"
                >Landing one</a>
            </li>
            <li>
              <a class="hover:underline" href="/landings/sponsors"
                >Sponsorhsip</a>
            </li>
        
            <li>
              <a class="hover:underline" href="/directory/details">Details</a>
            </li>
            <li>
              <a class="hover:underline" href="/directory/submit">Submit</a>
            </li>
          </ul>
        </li>
      
        <li >
          <p class="text-base font-medium tracking-wide uppercase">Dashboard</p>
          <ul role="list" class="mt-2">
            <li>
              <a class="hover:underline" href="/profile/profile">Profile</a>
            </li>
            <li>
              <a class="hover:underline" href="/profile/edit-profile"
                >Edit-Profile</a>
            </li>
            <li>
              <a class="hover:underline" href="/profile/collections"
                >Collections</a>
            </li>
            <li>
              <a href="/profile/collection-details">Collection Details</a>
            </li>
            <li>
              <a href="/profile/submissions">Submission</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul role="list" class="p-8 lg:p-10 bg-zinc-800 rounded-4xl lg:grid-cols-2 grid grid-cols-1 gap-4 ">
        <li>
          <p class="text-base font-medium tracking-wide uppercase">Forms</p>
          <ul role="list" class="mt-2">
            <li><a class="hover:underline" href="/forms/login">Log in</a></li>
            <li><a class="hover:underline" href="/forms/logout">Log out</a></li>
            <li><a class="hover:underline" href="/forms/signup">Sign up</a></li>
          </ul>
        </li>
     
        <li >
          <p class="text-base font-medium tracking-wide uppercase">Blog</p>
          <ul role="list" class="mt-2">
            <li><a class="hover:underline" href="/blog/blog">Blog</a></li>
            <li><a class="hover:underline" href="/posts/1">Blog posts</a></li>
            <li><a class="hover:underline" href="/tags">Tag index</a></li>
            <li>
              <a class="hover:underline" href="/tags/Tailwind">Tag Category</a>
            </li>
            <li><a class="hover:underline" href="/rss.xml">RSS</a></li>
          </ul>
        </li>
     
        <li >
          <p class="text-base font-medium tracking-wide uppercase">Infopages</p>
          <ul role="list" class="mt-2">
            <li>
              <a class="hover:underline" href="/infopages/about">About</a>
            </li>
            <li>
              <a class="hover:underline" href="/infopages/terms"
                >Terms of service</a>
            </li>
            <li>
              <a class="hover:underline" href="/infopages/privacy"
                >Privacy policy</a>
            </li>
            <li><a class="hover:underline" href="/404">404</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
