<section>
  <div class="w-full px-8 py-24 mx-auto bg-white max-w-screen-2xl">
    <div class="max-w-5xl">
      <h1
        class=" text-4xl font-semibold tracking-tighter text-black ">
        Overview
      </h1>
    </div>
    <div
      class="grid grid-cols-1 gap-px mx-auto mt-6 gap-y-6 sm:grid-cols-3 lg:grid-cols-5">
      <ul role="list">
        <li>
          <p class="text-xl font-medium tracking-tighter text-black">
            Landing pages
          </p>
          <ul role="list" class="mt-4">
            <li><a href="/landings/landing-one">Landing one</a></li>
            <li><a href="/landings/landing-two">Landing two</a></li>
            <li><a href="/landings/landing-three">Landing three</a></li>
            <li><a href="/landings/sponsors">Sponsorhsip</a></li>
          </ul>
        </li>
      </ul>
      <ul role="list">
        <li>
          <p class="text-xl font-medium tracking-tighter text-black">
            Directory
          </p>
          <ul role="list" class="mt-4">
            <li><a href="/directory/details">Details</a></li>
            <li><a href="/directory/submit">Submit</a></li>
          </ul>
        </li>
      </ul>
      <ul role="list">
        <li>
          <p class="text-xl font-medium tracking-tighter text-black">Profile</p>
          <ul role="list" class="mt-4">
            <li><a href="/profile/profile">Profile</a></li>
            <li><a href="/profile/edit-profile">Edit-Profile</a></li>
            <li><a href="/profile/collection-details">Collections</a></li>
            <li>
              <a href="/profile/collection-details">Collection Details</a>
            </li>
            <li>
              <a href="/profile/submissions">Submission</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul role="list">
        <li>
          <p class="text-xl font-medium tracking-tighter text-black">Forms</p>
          <ul role="list" class="mt-4">
            <li><a href="/forms/login">Log in</a></li>
            <li><a href="/forms/logout">Log out</a></li>
            <li><a href="/forms/signup">Sign up</a></li>
          </ul>
        </li>
      </ul>
      <ul role="list">
        <li>
          <p class="text-xl font-medium tracking-tighter text-black">Blog</p>
          <ul role="list" class="mt-4">
            <li><a href="/blog/blog">Blog</a></li>
            <li><a href="/blog/posts/1"></a></li>
            <li><a href="/tags">Tag index</a></li>
            <li><a href="/tags/HTML">Tag Category</a></li>
            <li><a href="/rss.xml">RSS</a></li>
          </ul>
        </li>
      </ul>
      <ul role="list">
        <li>
          <p class="text-xl font-medium tracking-tighter text-black">Store</p>
          <ul role="list" class="mt-4">
            <li><a href="/store/store-home">Store home</a></li>
            <li><a href="/store/product-details">Product details</a></li>
          </ul>
        </li>
      </ul>
      <ul role="list">
        <li>
          <p class="text-xl font-medium tracking-tighter text-black">
            Infopages
          </p>
          <ul role="list" class="mt-4">
            <li><a href="/infopages/about">About</a></li>
            <li><a href="/infopages/terms">Terms of service</a></li>
            <li><a href="/infopages/privacy">Privacy policy</a></li>
            
            <li><a href="/404">404</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>