<section>
  <div class="w-full mx-auto max-w-screen-2xl px-8 py-24">
    <div class="text-center">
      <span class="uppercase text-base text-accent-500">support us</span>
      <h1 class="text-3xl tracking-wide uppercase text-white font-medium mt-12">
        We have an audience of the world’s best
        <span class="lg:block">
          designers, developers & creative agencies.
        </span>
      </h1>
      <p class="text-base uppercase text-white mt-4 tracking-wide mx-auto">
        Unlock exclusive perks by supporting the Carbon editorial team.
      </p>
    </div>
    <div
      class="grid grid-cols-1 gap-px gap-y-6 sm:grid-cols-2 max-w-4xl mt-12 mx-auto"
    >
      <div
        class="p-8 lg:p-10 bg-zinc-800 rounded-5xl h-full flex flex-col justify-between gap-12"
      >
        <div>
          <span>
            <svg
              class="h-24 text-accent-500"
              viewBox="0 0 400 401"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M262.587 262.576L262.748 262.64L262.643 262.745L262.587 262.576ZM221.867 399.996L228.144 399.117C252.577 395.704 276.166 387.797 297.721 375.797L301.654 373.604L262.635 262.737C249.688 275.658 239.423 291.01 232.427 307.911C225.43 324.811 221.842 342.928 221.867 361.219L221.867 399.996ZM262.739 262.632L373.608 301.65L375.8 297.719C387.8 276.164 395.709 252.574 399.121 228.143L400 221.865L361.23 221.872C342.939 221.849 324.822 225.437 307.922 232.433C291.022 239.428 275.669 249.695 262.748 262.64L262.739 262.632ZM0 221.872L0.886509 228.142C4.29204 252.578 12.1966 276.171 24.1997 297.726L26.3917 301.659L137.156 262.535C124.237 249.622 108.897 239.384 92.0162 232.406C75.1352 225.429 57.0437 221.849 38.7776 221.872H0ZM98.3466 373.613L102.278 375.804C123.835 387.808 147.427 395.712 171.863 399.117L178.133 400.004L178.133 361.227C178.157 342.963 174.578 324.873 167.603 307.994C160.626 291.114 150.389 275.775 137.478 262.858L98.3466 373.613ZM137.156 262.535L137.478 262.858L137.656 262.374L137.156 262.535ZM361.223 178.139H400L399.121 171.861C395.709 147.43 387.8 123.839 375.8 102.285L373.608 98.3538L262.691 137.323C275.618 150.283 290.977 160.56 307.886 167.563C324.799 174.566 342.926 178.158 361.23 178.132L361.223 178.139ZM297.721 24.2072C276.166 12.2069 252.577 4.29969 228.144 0.886375L221.867 0.00743992L221.874 38.7776C221.851 57.0814 225.444 75.2112 232.448 92.123C239.452 109.036 249.731 124.396 262.691 137.323L301.654 26.3995L297.721 24.2072ZM137.365 137.259L137.26 137.364L137.422 137.412L137.365 137.259ZM178.133 0L171.863 0.887058C147.427 4.29214 123.835 12.1959 102.278 24.1999L98.3466 26.3906L137.365 137.259C150.308 124.333 160.571 108.979 167.566 92.0776C174.56 75.1761 178.149 57.0598 178.125 38.769L178.133 0ZM137.26 137.364L26.3917 98.3449L24.1997 102.277C12.1966 123.833 4.29204 147.426 0.886509 171.862L0 178.131H38.7776C57.0683 178.153 75.1836 174.562 92.0836 167.567C108.984 160.571 124.336 150.307 137.26 137.364ZM137.43 137.404L137.478 137.598C148.243 178.552 148.293 221.588 137.623 262.567L137.808 262.511C178.763 251.742 221.8 251.692 262.779 262.367L262.731 262.189C251.957 221.235 251.907 178.197 262.586 137.219L262.401 137.259C221.45 148.034 178.415 148.087 137.438 137.412L137.43 137.404Z"
                fill="currentColor"></path>
            </svg>
          </span>
          <p class="text-xl mt-8 text-white uppercase tracking-lg">
            Sponsored tweet
          </p>
          <p class="text-sm text-zinc-300 uppercase mt-4">
            You can tweet your message to our over 30,000 Twitter followers.
          </p>
          <ul
            class="text-lg text-zinc-300 uppercase mt-8 flex flex-col"
            role="list"
          >
            <li class="inline-flex items-center gap-3">
              <span
                ><svg
                  class="h-4 text-accent-500"
                  viewBox="0 0 400 401"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M262.587 262.576L262.748 262.64L262.643 262.745L262.587 262.576ZM221.867 399.996L228.144 399.117C252.577 395.704 276.166 387.797 297.721 375.797L301.654 373.604L262.635 262.737C249.688 275.658 239.423 291.01 232.427 307.911C225.43 324.811 221.842 342.928 221.867 361.219L221.867 399.996ZM262.739 262.632L373.608 301.65L375.8 297.719C387.8 276.164 395.709 252.574 399.121 228.143L400 221.865L361.23 221.872C342.939 221.849 324.822 225.437 307.922 232.433C291.022 239.428 275.669 249.695 262.748 262.64L262.739 262.632ZM0 221.872L0.886509 228.142C4.29204 252.578 12.1966 276.171 24.1997 297.726L26.3917 301.659L137.156 262.535C124.237 249.622 108.897 239.384 92.0162 232.406C75.1352 225.429 57.0437 221.849 38.7776 221.872H0ZM98.3466 373.613L102.278 375.804C123.835 387.808 147.427 395.712 171.863 399.117L178.133 400.004L178.133 361.227C178.157 342.963 174.578 324.873 167.603 307.994C160.626 291.114 150.389 275.775 137.478 262.858L98.3466 373.613ZM137.156 262.535L137.478 262.858L137.656 262.374L137.156 262.535ZM361.223 178.139H400L399.121 171.861C395.709 147.43 387.8 123.839 375.8 102.285L373.608 98.3538L262.691 137.323C275.618 150.283 290.977 160.56 307.886 167.563C324.799 174.566 342.926 178.158 361.23 178.132L361.223 178.139ZM297.721 24.2072C276.166 12.2069 252.577 4.29969 228.144 0.886375L221.867 0.00743992L221.874 38.7776C221.851 57.0814 225.444 75.2112 232.448 92.123C239.452 109.036 249.731 124.396 262.691 137.323L301.654 26.3995L297.721 24.2072ZM137.365 137.259L137.26 137.364L137.422 137.412L137.365 137.259ZM178.133 0L171.863 0.887058C147.427 4.29214 123.835 12.1959 102.278 24.1999L98.3466 26.3906L137.365 137.259C150.308 124.333 160.571 108.979 167.566 92.0776C174.56 75.1761 178.149 57.0598 178.125 38.769L178.133 0ZM137.26 137.364L26.3917 98.3449L24.1997 102.277C12.1966 123.833 4.29204 147.426 0.886509 171.862L0 178.131H38.7776C57.0683 178.153 75.1836 174.562 92.0836 167.567C108.984 160.571 124.336 150.307 137.26 137.364ZM137.43 137.404L137.478 137.598C148.243 178.552 148.293 221.588 137.623 262.567L137.808 262.511C178.763 251.742 221.8 251.692 262.779 262.367L262.731 262.189C251.957 221.235 251.907 178.197 262.586 137.219L262.401 137.259C221.45 148.034 178.415 148.087 137.438 137.412L137.43 137.404Z"
                    fill="currentColor"></path>
                </svg></span
              >One tweet to 100k followers
            </li>
            <li class="inline-flex items-center gap-3">
              <span
                ><svg
                  class="h-4 text-accent-500"
                  viewBox="0 0 400 401"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M262.587 262.576L262.748 262.64L262.643 262.745L262.587 262.576ZM221.867 399.996L228.144 399.117C252.577 395.704 276.166 387.797 297.721 375.797L301.654 373.604L262.635 262.737C249.688 275.658 239.423 291.01 232.427 307.911C225.43 324.811 221.842 342.928 221.867 361.219L221.867 399.996ZM262.739 262.632L373.608 301.65L375.8 297.719C387.8 276.164 395.709 252.574 399.121 228.143L400 221.865L361.23 221.872C342.939 221.849 324.822 225.437 307.922 232.433C291.022 239.428 275.669 249.695 262.748 262.64L262.739 262.632ZM0 221.872L0.886509 228.142C4.29204 252.578 12.1966 276.171 24.1997 297.726L26.3917 301.659L137.156 262.535C124.237 249.622 108.897 239.384 92.0162 232.406C75.1352 225.429 57.0437 221.849 38.7776 221.872H0ZM98.3466 373.613L102.278 375.804C123.835 387.808 147.427 395.712 171.863 399.117L178.133 400.004L178.133 361.227C178.157 342.963 174.578 324.873 167.603 307.994C160.626 291.114 150.389 275.775 137.478 262.858L98.3466 373.613ZM137.156 262.535L137.478 262.858L137.656 262.374L137.156 262.535ZM361.223 178.139H400L399.121 171.861C395.709 147.43 387.8 123.839 375.8 102.285L373.608 98.3538L262.691 137.323C275.618 150.283 290.977 160.56 307.886 167.563C324.799 174.566 342.926 178.158 361.23 178.132L361.223 178.139ZM297.721 24.2072C276.166 12.2069 252.577 4.29969 228.144 0.886375L221.867 0.00743992L221.874 38.7776C221.851 57.0814 225.444 75.2112 232.448 92.123C239.452 109.036 249.731 124.396 262.691 137.323L301.654 26.3995L297.721 24.2072ZM137.365 137.259L137.26 137.364L137.422 137.412L137.365 137.259ZM178.133 0L171.863 0.887058C147.427 4.29214 123.835 12.1959 102.278 24.1999L98.3466 26.3906L137.365 137.259C150.308 124.333 160.571 108.979 167.566 92.0776C174.56 75.1761 178.149 57.0598 178.125 38.769L178.133 0ZM137.26 137.364L26.3917 98.3449L24.1997 102.277C12.1966 123.833 4.29204 147.426 0.886509 171.862L0 178.131H38.7776C57.0683 178.153 75.1836 174.562 92.0836 167.567C108.984 160.571 124.336 150.307 137.26 137.364ZM137.43 137.404L137.478 137.598C148.243 178.552 148.293 221.588 137.623 262.567L137.808 262.511C178.763 251.742 221.8 251.692 262.779 262.367L262.731 262.189C251.957 221.235 251.907 178.197 262.586 137.219L262.401 137.259C221.45 148.034 178.415 148.087 137.438 137.412L137.43 137.404Z"
                    fill="currentColor"></path>
                </svg></span
              >Community Access
            </li>
            <li class="inline-flex items-center gap-3">
              <span
                ><svg
                  class="h-4 text-accent-500"
                  viewBox="0 0 400 401"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M262.587 262.576L262.748 262.64L262.643 262.745L262.587 262.576ZM221.867 399.996L228.144 399.117C252.577 395.704 276.166 387.797 297.721 375.797L301.654 373.604L262.635 262.737C249.688 275.658 239.423 291.01 232.427 307.911C225.43 324.811 221.842 342.928 221.867 361.219L221.867 399.996ZM262.739 262.632L373.608 301.65L375.8 297.719C387.8 276.164 395.709 252.574 399.121 228.143L400 221.865L361.23 221.872C342.939 221.849 324.822 225.437 307.922 232.433C291.022 239.428 275.669 249.695 262.748 262.64L262.739 262.632ZM0 221.872L0.886509 228.142C4.29204 252.578 12.1966 276.171 24.1997 297.726L26.3917 301.659L137.156 262.535C124.237 249.622 108.897 239.384 92.0162 232.406C75.1352 225.429 57.0437 221.849 38.7776 221.872H0ZM98.3466 373.613L102.278 375.804C123.835 387.808 147.427 395.712 171.863 399.117L178.133 400.004L178.133 361.227C178.157 342.963 174.578 324.873 167.603 307.994C160.626 291.114 150.389 275.775 137.478 262.858L98.3466 373.613ZM137.156 262.535L137.478 262.858L137.656 262.374L137.156 262.535ZM361.223 178.139H400L399.121 171.861C395.709 147.43 387.8 123.839 375.8 102.285L373.608 98.3538L262.691 137.323C275.618 150.283 290.977 160.56 307.886 167.563C324.799 174.566 342.926 178.158 361.23 178.132L361.223 178.139ZM297.721 24.2072C276.166 12.2069 252.577 4.29969 228.144 0.886375L221.867 0.00743992L221.874 38.7776C221.851 57.0814 225.444 75.2112 232.448 92.123C239.452 109.036 249.731 124.396 262.691 137.323L301.654 26.3995L297.721 24.2072ZM137.365 137.259L137.26 137.364L137.422 137.412L137.365 137.259ZM178.133 0L171.863 0.887058C147.427 4.29214 123.835 12.1959 102.278 24.1999L98.3466 26.3906L137.365 137.259C150.308 124.333 160.571 108.979 167.566 92.0776C174.56 75.1761 178.149 57.0598 178.125 38.769L178.133 0ZM137.26 137.364L26.3917 98.3449L24.1997 102.277C12.1966 123.833 4.29204 147.426 0.886509 171.862L0 178.131H38.7776C57.0683 178.153 75.1836 174.562 92.0836 167.567C108.984 160.571 124.336 150.307 137.26 137.364ZM137.43 137.404L137.478 137.598C148.243 178.552 148.293 221.588 137.623 262.567L137.808 262.511C178.763 251.742 221.8 251.692 262.779 262.367L262.731 262.189C251.957 221.235 251.907 178.197 262.586 137.219L262.401 137.259C221.45 148.034 178.415 148.087 137.438 137.412L137.43 137.404Z"
                    fill="currentColor"></path>
                </svg></span
              >Q&A with designers
            </li>
            <li class="inline-flex items-center gap-3">
              <span
                ><svg
                  class="h-4 text-accent-500"
                  viewBox="0 0 400 401"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M262.587 262.576L262.748 262.64L262.643 262.745L262.587 262.576ZM221.867 399.996L228.144 399.117C252.577 395.704 276.166 387.797 297.721 375.797L301.654 373.604L262.635 262.737C249.688 275.658 239.423 291.01 232.427 307.911C225.43 324.811 221.842 342.928 221.867 361.219L221.867 399.996ZM262.739 262.632L373.608 301.65L375.8 297.719C387.8 276.164 395.709 252.574 399.121 228.143L400 221.865L361.23 221.872C342.939 221.849 324.822 225.437 307.922 232.433C291.022 239.428 275.669 249.695 262.748 262.64L262.739 262.632ZM0 221.872L0.886509 228.142C4.29204 252.578 12.1966 276.171 24.1997 297.726L26.3917 301.659L137.156 262.535C124.237 249.622 108.897 239.384 92.0162 232.406C75.1352 225.429 57.0437 221.849 38.7776 221.872H0ZM98.3466 373.613L102.278 375.804C123.835 387.808 147.427 395.712 171.863 399.117L178.133 400.004L178.133 361.227C178.157 342.963 174.578 324.873 167.603 307.994C160.626 291.114 150.389 275.775 137.478 262.858L98.3466 373.613ZM137.156 262.535L137.478 262.858L137.656 262.374L137.156 262.535ZM361.223 178.139H400L399.121 171.861C395.709 147.43 387.8 123.839 375.8 102.285L373.608 98.3538L262.691 137.323C275.618 150.283 290.977 160.56 307.886 167.563C324.799 174.566 342.926 178.158 361.23 178.132L361.223 178.139ZM297.721 24.2072C276.166 12.2069 252.577 4.29969 228.144 0.886375L221.867 0.00743992L221.874 38.7776C221.851 57.0814 225.444 75.2112 232.448 92.123C239.452 109.036 249.731 124.396 262.691 137.323L301.654 26.3995L297.721 24.2072ZM137.365 137.259L137.26 137.364L137.422 137.412L137.365 137.259ZM178.133 0L171.863 0.887058C147.427 4.29214 123.835 12.1959 102.278 24.1999L98.3466 26.3906L137.365 137.259C150.308 124.333 160.571 108.979 167.566 92.0776C174.56 75.1761 178.149 57.0598 178.125 38.769L178.133 0ZM137.26 137.364L26.3917 98.3449L24.1997 102.277C12.1966 123.833 4.29204 147.426 0.886509 171.862L0 178.131H38.7776C57.0683 178.153 75.1836 174.562 92.0836 167.567C108.984 160.571 124.336 150.307 137.26 137.364ZM137.43 137.404L137.478 137.598C148.243 178.552 148.293 221.588 137.623 262.567L137.808 262.511C178.763 251.742 221.8 251.692 262.779 262.367L262.731 262.189C251.957 221.235 251.907 178.197 262.586 137.219L262.401 137.259C221.45 148.034 178.415 148.087 137.438 137.412L137.43 137.404Z"
                    fill="currentColor"></path>
                </svg></span
              >Podcast Access
            </li>
          </ul>
        </div>
        <button
          type="button"
          class="py-1 pl-4 duration-200 pr-2 border-accent-500 bg-accent-500 hover:text-black h-12 hover:bg-white text-white justify-between uppercase border-2 hover:border-white rounded-full inline-flex items-center"
        >
          Book a spot
          <div
            class="bg-black h-8 w-8 text-white inline-flex items-center justify-center rounded-full"
          >
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5"
                viewBox="0 0 32 32"
                ><path
                  fill="currentColor"
                  d="m18 6l-1.43 1.393L24.15 15H4v2h20.15l-7.58 7.573L18 26l10-10L18 6z"
                ></path></svg
              ></span
            >
          </div>
        </button>
      </div>
      <div
        class="p-8 lg:p-10 bg-zinc-800 rounded-5xl h-full flex flex-col justify-between gap-12"
      >
        <div>
          <div>
            <span>
              <svg
                class="h-24 text-white"
                viewBox="0 0 360 401"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M236.708 58.231C236.708 89.6902 211.206 115.193 179.746 115.193C148.287 115.193 122.784 89.6902 122.784 58.231C122.784 26.7717 148.287 1.26894 179.746 1.26894C211.206 1.26894 236.708 26.7717 236.708 58.231Z"
                  fill="currentColor"
                  stroke="white"
                  stroke-width="2.53164"></path>
                <path
                  d="M236.708 200.003C236.708 231.462 211.206 256.965 179.746 256.965C148.287 256.965 122.784 231.462 122.784 200.003C122.784 168.544 148.287 143.041 179.746 143.041C211.206 143.041 236.708 168.544 236.708 200.003Z"
                  fill="currentColor"
                  stroke="white"
                  stroke-width="2.53164"></path>
                <path
                  d="M115.19 129.118C115.19 160.578 89.6873 186.08 58.2281 186.08C26.7688 186.08 1.26607 160.578 1.26607 129.118C1.26607 97.6592 26.7688 72.1564 58.2281 72.1564C89.6873 72.1564 115.19 97.6592 115.19 129.118Z"
                  fill="currentColor"
                  stroke="white"
                  stroke-width="2.53164"></path>
                <path
                  d="M115.19 270.89C115.19 302.35 89.6873 327.852 58.2281 327.852C26.7688 327.852 1.26607 302.35 1.26607 270.89C1.26607 239.431 26.7688 213.928 58.2281 213.928C89.6873 213.928 115.19 239.431 115.19 270.89Z"
                  fill="currentColor"
                  stroke="white"
                  stroke-width="2.53164"></path>
                <path
                  d="M358.227 129.118C358.227 160.578 332.724 186.08 301.265 186.08C269.806 186.08 244.303 160.578 244.303 129.118C244.303 97.6592 269.806 72.1564 301.265 72.1564C332.724 72.1564 358.227 97.6592 358.227 129.118Z"
                  fill="currentColor"
                  stroke="white"
                  stroke-width="2.53164"></path>
                <path
                  d="M358.227 270.89C358.227 302.35 332.724 327.852 301.265 327.852C269.806 327.852 244.303 302.35 244.303 270.89C244.303 239.431 269.806 213.928 301.265 213.928C332.724 213.928 358.227 239.431 358.227 270.89Z"
                  fill="currentColor"
                  stroke="white"
                  stroke-width="2.53164"></path>
                <path
                  d="M236.708 341.775C236.708 373.234 211.206 398.737 179.746 398.737C148.287 398.737 122.784 373.234 122.784 341.775C122.784 310.316 148.287 284.813 179.746 284.813C211.206 284.813 236.708 310.316 236.708 341.775Z"
                  fill="currentColor"
                  stroke="white"
                  stroke-width="2.53164"></path>
              </svg>
            </span>
            <p class="text-xl mt-8 text-white uppercase tracking-wide">
              Newsletter sponsorship
            </p>
            <p class="text-sm text-zinc-300 uppercase mt-4">
              The weekly digest newsletter is sent to a subset of the most
              active subscribers.
            </p>
            <ul
              class="text-lg text-zinc-300 uppercase mt-8 flex flex-col"
              role="list"
            >
              <li class="inline-flex items-center gap-3">
                <span>
                  <svg
                    class="h-4"
                    viewBox="0 0 360 401"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M236.708 58.231C236.708 89.6902 211.206 115.193 179.746 115.193C148.287 115.193 122.784 89.6902 122.784 58.231C122.784 26.7717 148.287 1.26894 179.746 1.26894C211.206 1.26894 236.708 26.7717 236.708 58.231Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M236.708 200.003C236.708 231.462 211.206 256.965 179.746 256.965C148.287 256.965 122.784 231.462 122.784 200.003C122.784 168.544 148.287 143.041 179.746 143.041C211.206 143.041 236.708 168.544 236.708 200.003Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M115.19 129.118C115.19 160.578 89.6873 186.08 58.2281 186.08C26.7688 186.08 1.26607 160.578 1.26607 129.118C1.26607 97.6592 26.7688 72.1564 58.2281 72.1564C89.6873 72.1564 115.19 97.6592 115.19 129.118Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M115.19 270.89C115.19 302.35 89.6873 327.852 58.2281 327.852C26.7688 327.852 1.26607 302.35 1.26607 270.89C1.26607 239.431 26.7688 213.928 58.2281 213.928C89.6873 213.928 115.19 239.431 115.19 270.89Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M358.227 129.118C358.227 160.578 332.724 186.08 301.265 186.08C269.806 186.08 244.303 160.578 244.303 129.118C244.303 97.6592 269.806 72.1564 301.265 72.1564C332.724 72.1564 358.227 97.6592 358.227 129.118Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M358.227 270.89C358.227 302.35 332.724 327.852 301.265 327.852C269.806 327.852 244.303 302.35 244.303 270.89C244.303 239.431 269.806 213.928 301.265 213.928C332.724 213.928 358.227 239.431 358.227 270.89Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M236.708 341.775C236.708 373.234 211.206 398.737 179.746 398.737C148.287 398.737 122.784 373.234 122.784 341.775C122.784 310.316 148.287 284.813 179.746 284.813C211.206 284.813 236.708 310.316 236.708 341.775Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                  </svg>
                </span>A sponsored tweet, plus:
              </li>
              <li class="inline-flex items-center gap-3">
                <span>
                  <svg
                    class="h-4"
                    viewBox="0 0 360 401"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M236.708 58.231C236.708 89.6902 211.206 115.193 179.746 115.193C148.287 115.193 122.784 89.6902 122.784 58.231C122.784 26.7717 148.287 1.26894 179.746 1.26894C211.206 1.26894 236.708 26.7717 236.708 58.231Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M236.708 200.003C236.708 231.462 211.206 256.965 179.746 256.965C148.287 256.965 122.784 231.462 122.784 200.003C122.784 168.544 148.287 143.041 179.746 143.041C211.206 143.041 236.708 168.544 236.708 200.003Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M115.19 129.118C115.19 160.578 89.6873 186.08 58.2281 186.08C26.7688 186.08 1.26607 160.578 1.26607 129.118C1.26607 97.6592 26.7688 72.1564 58.2281 72.1564C89.6873 72.1564 115.19 97.6592 115.19 129.118Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M115.19 270.89C115.19 302.35 89.6873 327.852 58.2281 327.852C26.7688 327.852 1.26607 302.35 1.26607 270.89C1.26607 239.431 26.7688 213.928 58.2281 213.928C89.6873 213.928 115.19 239.431 115.19 270.89Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M358.227 129.118C358.227 160.578 332.724 186.08 301.265 186.08C269.806 186.08 244.303 160.578 244.303 129.118C244.303 97.6592 269.806 72.1564 301.265 72.1564C332.724 72.1564 358.227 97.6592 358.227 129.118Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M358.227 270.89C358.227 302.35 332.724 327.852 301.265 327.852C269.806 327.852 244.303 302.35 244.303 270.89C244.303 239.431 269.806 213.928 301.265 213.928C332.724 213.928 358.227 239.431 358.227 270.89Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M236.708 341.775C236.708 373.234 211.206 398.737 179.746 398.737C148.287 398.737 122.784 373.234 122.784 341.775C122.784 310.316 148.287 284.813 179.746 284.813C211.206 284.813 236.708 310.316 236.708 341.775Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                  </svg>
                </span>Newsletter sent to 250K 
              </li>
              <li class="inline-flex items-center gap-3">
                <span>
                  <svg
                    class="h-4"
                    viewBox="0 0 360 401"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M236.708 58.231C236.708 89.6902 211.206 115.193 179.746 115.193C148.287 115.193 122.784 89.6902 122.784 58.231C122.784 26.7717 148.287 1.26894 179.746 1.26894C211.206 1.26894 236.708 26.7717 236.708 58.231Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M236.708 200.003C236.708 231.462 211.206 256.965 179.746 256.965C148.287 256.965 122.784 231.462 122.784 200.003C122.784 168.544 148.287 143.041 179.746 143.041C211.206 143.041 236.708 168.544 236.708 200.003Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M115.19 129.118C115.19 160.578 89.6873 186.08 58.2281 186.08C26.7688 186.08 1.26607 160.578 1.26607 129.118C1.26607 97.6592 26.7688 72.1564 58.2281 72.1564C89.6873 72.1564 115.19 97.6592 115.19 129.118Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M115.19 270.89C115.19 302.35 89.6873 327.852 58.2281 327.852C26.7688 327.852 1.26607 302.35 1.26607 270.89C1.26607 239.431 26.7688 213.928 58.2281 213.928C89.6873 213.928 115.19 239.431 115.19 270.89Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M358.227 129.118C358.227 160.578 332.724 186.08 301.265 186.08C269.806 186.08 244.303 160.578 244.303 129.118C244.303 97.6592 269.806 72.1564 301.265 72.1564C332.724 72.1564 358.227 97.6592 358.227 129.118Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M358.227 270.89C358.227 302.35 332.724 327.852 301.265 327.852C269.806 327.852 244.303 302.35 244.303 270.89C244.303 239.431 269.806 213.928 301.265 213.928C332.724 213.928 358.227 239.431 358.227 270.89Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M236.708 341.775C236.708 373.234 211.206 398.737 179.746 398.737C148.287 398.737 122.784 373.234 122.784 341.775C122.784 310.316 148.287 284.813 179.746 284.813C211.206 284.813 236.708 310.316 236.708 341.775Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                  </svg>
                </span>Priority on launches
              </li>
              <li class="inline-flex items-center gap-3">
                <span>
                  <svg
                    class="h-4"
                    viewBox="0 0 360 401"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M236.708 58.231C236.708 89.6902 211.206 115.193 179.746 115.193C148.287 115.193 122.784 89.6902 122.784 58.231C122.784 26.7717 148.287 1.26894 179.746 1.26894C211.206 1.26894 236.708 26.7717 236.708 58.231Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M236.708 200.003C236.708 231.462 211.206 256.965 179.746 256.965C148.287 256.965 122.784 231.462 122.784 200.003C122.784 168.544 148.287 143.041 179.746 143.041C211.206 143.041 236.708 168.544 236.708 200.003Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M115.19 129.118C115.19 160.578 89.6873 186.08 58.2281 186.08C26.7688 186.08 1.26607 160.578 1.26607 129.118C1.26607 97.6592 26.7688 72.1564 58.2281 72.1564C89.6873 72.1564 115.19 97.6592 115.19 129.118Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M115.19 270.89C115.19 302.35 89.6873 327.852 58.2281 327.852C26.7688 327.852 1.26607 302.35 1.26607 270.89C1.26607 239.431 26.7688 213.928 58.2281 213.928C89.6873 213.928 115.19 239.431 115.19 270.89Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M358.227 129.118C358.227 160.578 332.724 186.08 301.265 186.08C269.806 186.08 244.303 160.578 244.303 129.118C244.303 97.6592 269.806 72.1564 301.265 72.1564C332.724 72.1564 358.227 97.6592 358.227 129.118Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M358.227 270.89C358.227 302.35 332.724 327.852 301.265 327.852C269.806 327.852 244.303 302.35 244.303 270.89C244.303 239.431 269.806 213.928 301.265 213.928C332.724 213.928 358.227 239.431 358.227 270.89Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                    <path
                      d="M236.708 341.775C236.708 373.234 211.206 398.737 179.746 398.737C148.287 398.737 122.784 373.234 122.784 341.775C122.784 310.316 148.287 284.813 179.746 284.813C211.206 284.813 236.708 310.316 236.708 341.775Z"
                      fill="currentColor"
                      stroke="white"
                      stroke-width="2.53164"></path>
                  </svg>
                </span>Access to feature vote
              </li>
            </ul>
          </div>
        </div>
        <button
          type="button"
          class="pl-4 pr-2 duration-200 hover:border-accent-500 h-12 text-white justify-between uppercase border-2 rounded-full inline-flex items-center"
        >
          Book a spot
          <div
            class="bg-white h-8 w-8 text-black inline-flex items-center justify-center rounded-full"
          >
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5"
                viewBox="0 0 32 32"
                ><path
                  fill="currentColor"
                  d="m18 6l-1.43 1.393L24.15 15H4v2h20.15l-7.58 7.573L18 26l10-10L18 6z"
                ></path></svg
              ></span
            >
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
