<section>
  <div class="w-full mx-auto bg-white max-w-screen-2xl px-8 py-24   ">
    <div class="max-w-3xl">
      <h1 class="text-black mt-4 font-semibold text-4xl tracking-tighter">
        You can help support us and communicate with an audience of the world’s
        best designers, developers and creative agencies.
      </h1>
      <p class="text-sm text-zinc-500 mt-4">
        This website is a light and dark and elegant directory website template.
        With a focus on clean aesthetics it serves as the perfect foundation for
        showcasing website with good UX
      </p>
    </div>
    <div
      class="grid grid-cols-1 gap-px gap-y-6 sm:grid-cols-3 lg:grid-cols-3 mt-6 mx-auto"
    >
      <div class="p-8 bg-zinc-100 h-full flex flex-col justify-between gap-12">
        <div>
          <p class="text-xl tracking-tighter text-black font-medium">
            Site sponsorship
          </p>
          <p class="text-sm text-zinc-500 mt-4">
            We partner with sponsors whose products and services we love, and
            help them reach a global audience of savvy designers, developers,
            and agencies. We have weekly and monthly sponsorships available.
          </p>
        </div>
        <button
          type="button"
          class="inline-flex h-12 items-center border border-zinc-600 px-4 justify-between py-2 text-sm font-medium text-zinc-600 hover:bg-zinc-600 w-full hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-100 cursor-pointer duration-200 gap-12 focus:ring-1 focus:ring-offset-1 focus:ring-zinc-600 focus:bg-zinc-600 focus:text-white"
        >
         Book a spot
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5"
              viewBox="0 0 32 32"
              ><path
                fill="currentColor"
                d="m18 6l-1.43 1.393L24.15 15H4v2h20.15l-7.58 7.573L18 26l10-10L18 6z"
              ></path></svg
            ></span
          >
        </button>
      </div>
      <div class="p-8 bg-zinc-100 h-full flex flex-col justify-between gap-12">
        <div>
          <p class="text-xl tracking-tighter text-black font-medium">
            Sponsored tweets
          </p>
          <p class="text-sm text-zinc-500 mt-4">
            You can tweet your message to our over 30,000 Twitter followers.
          </p>
        </div>
        <button
          type="button"
          class="inline-flex h-12 items-center border border-zinc-600 px-4 justify-between py-2 text-sm font-medium text-zinc-600 hover:bg-zinc-600 w-full hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-100 cursor-pointer duration-200 gap-12 focus:ring-1 focus:ring-offset-1 focus:ring-zinc-600 focus:bg-zinc-600 focus:text-white"
        >
         Book a spot
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5"
              viewBox="0 0 32 32"
              ><path
                fill="currentColor"
                d="m18 6l-1.43 1.393L24.15 15H4v2h20.15l-7.58 7.573L18 26l10-10L18 6z"
              ></path></svg
            ></span
          >
        </button>
      </div>
      <div class="p-8 bg-zinc-100 h-full flex flex-col justify-between gap-12">
        <div>
          <p class="text-xl tracking-tighter text-black font-medium">
            Newsletter sponsorship
          </p>
          <p class="text-sm text-zinc-500 mt-4">
            The weekly digest newsletter is sent to a subset of the most active
            subscribers. You can sponsor it weekly with a 180x130px banner plus
            a tweet.
          </p>
        </div>
        <button
          type="button"
          class="inline-flex h-12 items-center border border-zinc-600 px-4 justify-between py-2 text-sm font-medium text-zinc-600 hover:bg-zinc-600 w-full hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-100 cursor-pointer duration-200 gap-12 focus:ring-1 focus:ring-offset-1 focus:ring-zinc-600 focus:bg-zinc-600 focus:text-white"
        >
         Book a spot
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5"
              viewBox="0 0 32 32"
              ><path
                fill="currentColor"
                d="m18 6l-1.43 1.393L24.15 15H4v2h20.15l-7.58 7.573L18 26l10-10L18 6z"
              ></path></svg
            ></span
          >
        </button>
      </div>
    </div>
  </div>
</section>
