<section>
  <div class="w-full mx-auto bg-white max-w-screen-2xl px-8 py-24   ">
    <div class="max-w-md mx-auto">
      <div class="mt-12">
        <div class="max-w-md mx-auto bg-zinc-100 p-8 border">
          <p class="text-xl tracking-tighter text-black font-medium">
            You signed out of your account
          </p>
          <p class="text-sm font-medium text-zinc-500 mt-2">
            It's a good idea to close all borwser windows
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
