
<section >
    
  <div class="w-full relative px-8 py-24 mx-auto max-w-screen-2xl items-center flex flex-col lg:py-48 justify-center ">
    <div class="max-w-md mx-auto">
      <div class="mt-12">
        <div class="max-w-md mx-auto bg-zinc-800 p-8 rounded-3xl">
          <p class="text-xl tracking-tighter text-accent-500 uppercase font-medium">
            You signed out of your account
          </p>
          <p class="text-sm font-medium text-zinc-400 mt-2">
            It's a good idea to close all borwser windows
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
