<seciton>
  <div class="w-full mx-auto bg-white dark:bg-black max-w-screen-2xl px-8 py-2">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full mx-auto md:items-center md:justify-between md:flex-row">
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a
          class="text-black dark:text-white inline-flex items-center gap-3 uppercase text-sm"
          href="/">
          <svg
            class="h-5"
            viewBox="0 0 400 413"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1984_325)">
              <path
                d="M0.0018118 235.381L0.998397 85.3896C1.1788 58.2384 20.1604 34.9786 46.3782 29.7819L191.213 1.07354C226.018 -5.8253 258.315 21.4078 258.077 57.4519L257.079 207.443C256.899 234.594 237.918 257.854 211.701 263.051L66.865 291.759C32.06 298.658 -0.237673 271.425 0.0018118 235.381Z"
                fill="currentColor"
                fill-opacity="0.2"></path>
              <path
                d="M70.9627 295.193L71.9592 145.202C72.1397 118.051 91.1212 94.7911 117.339 89.5944L262.175 60.886C296.98 53.9873 329.277 81.2203 329.037 117.264L328.041 267.256C327.861 294.407 308.878 317.667 282.661 322.863L137.826 351.572C103.021 358.471 70.7232 331.237 70.9627 295.193Z"
                fill="currentColor"
                fill-opacity="0.5"></path>
              <path
                d="M141.924 355.061L142.921 205.07C143.101 177.917 162.082 154.659 188.3 149.461L333.135 120.753C367.94 113.854 400.239 141.087 399.999 177.131L399.002 327.122C398.821 354.274 379.84 377.534 353.622 382.731L208.787 411.439C173.982 418.337 141.685 391.105 141.924 355.061Z"
                fill="currentColor"
                fill-opacity="0.8"></path>
            </g>
            <defs>
              <clipPath id="clip0_1984_325">
                <rect width="400" height="412.5" fill="currentColor"></rect>
              </clipPath>
            </defs>
          </svg>
          <span>Carbon</span>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-zinc-400 hover:text-black focus:outline-none focus:text-black md:hidden">
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24">
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center text-xs text-black font-medium dark:text-zinc-400 gap-6 flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row">
        <a class="hover:text-accent-600 lg:ml-auto" href="/system/overview">
          Overview
        </a>
        <a class="hover:text-accent-600" href="/system/style-guide">
          Style Guide</a
        >
        <a class="hover:text-accent-600" href="#">Buy Carbon</a>

        <div class="flex flex-col md:flex-row lg:ml-auto gap-2">
          <div class="flex justify-center">
            <div
              x-data="{
            open: false,
            toggle() {
                if (this.open) {
                    return this.close()
                }

                this.$refs.button.focus()

                this.open = true
            },
            close(focusAfter) {
                if (! this.open) return

                this.open = false

                focusAfter && focusAfter.focus()
            }
        }"
              x-on:keydown.escape.prevent.stop="close($refs.button)"
              x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
              x-id="['dropdown-button']"
              class="relative">
              <!-- Button -->
              <button
                x-ref="button"
                x-on:click="toggle()"
                :aria-expanded="open"
                :aria-controls="$id('dropdown-button')"
                type="button"
                class="inline-flex h-8 items-center border border-transparent px-3.5 font-medium justify-between py-2 text-xs text-accent-600 hover:bg-zinc-200 hover:text-accent-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-100 cursor-pointer duration-200 gap-12 focus:ring-1 focus:ring-offset-1 focus:ring-blue-600 focus:bg-white focus:border-accent-600 dark:hover:bg-zinc-900">
                Profile
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-4 h-4"
                  viewBox="0 0 32 32"
                  ><path
                    fill="currentColor"
                    d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"></path></svg
                >
              </button>

              <!-- Panel -->
              <div
                x-ref="panel"
                x-show="open"
                x-transition.origin.top.left
                x-on:click.outside="close($refs.button)"
                :id="$id('dropdown-button')"
                style="display: none;"
                class="absolute left-0 mt-2 w-52 bg-white dark:bg-zinc-900 divide-y dark:divide-zinc-900 shadow-md">
                <a
                  href="/profile/settings"
                  class="flex items-center gap-2 w-full pl-4 pr-16 py-2.5 text-left text-xs hover:bg-gray-200 text-black dark:text-white dark:hover:bg-zinc-900 dark:bg-zinc-800">
                  Settings
                </a>

                <a
                  href="/profile/collections"
                  class="flex items-center gap-2 w-full pl-4 pr-16 py-2.5 text-left text-xs hover:bg-gray-200 text-black dark:text-white dark:hover:bg-zinc-900 dark:bg-zinc-800">
                  Collections
                </a>

                <a
                  href="/directory/submit"
                  class="flex items-center gap-2 w-full pl-4 pr-16 py-2.5 text-left text-xs hover:bg-gray-200 text-black dark:text-white dark:hover:bg-zinc-900 dark:bg-zinc-000">
                  Submit
                </a>
                <a
                  href="/directory/submissions"
                  class="flex items-center gap-2 w-full pl-4 pr-16 py-2.5 text-left text-xs hover:bg-gray-200 text-black dark:text-white dark:hover:bg-zinc-900 dark:bg-zinc-000">
                  Submission
                </a>
                <a
                  href="/profile/profile"
                  class="flex items-center gap-2 w-full pl-4 pr-16 py-2.5 text-left text-xs hover:bg-gray-200 text-black dark:text-white dark:hover:bg-zinc-900 dark:bg-zinc-000">
                  Your profile
                </a>
                <a
                  href="/forms/logout"
                  class="flex items-center gap-2 w-full pl-4 pr-16 py-2.5 text-left text-xs hover:bg-gray-200 text-black dark:text-white dark:hover:bg-zinc-900 dark:bg-zinc-000">
                  Log out
                </a>
              </div>
            </div>
          </div>
          <a
            href="/forms/login"
            class="inline-flex h-8 items-center border border-transparent px-3.5 font-medium justify-between py-2 text-xs text-accent-600 hover:bg-zinc-200 dark:hover:bg-zinc-900 hover:text-accent-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-100 cursor-pointer duration-200 gap-12 focus:ring-1 focus:ring-offset-1 focus:ring-blue-600 focus:bg-white focus:border-accent-600"
            >Log in</a
          >
          <a
            href="/directory/submit"
            class="inline-flex h-8 items-center border border-accent-600 px-3.5 justify-between py-2 text-xs font-medium text-accent-600 hover:bg-accent-600 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-100 cursor-pointer duration-200 gap-12 focus:ring-1 focus:ring-offset-1 focus:ring-blue-600 focus:bg-accent-600 focus:text-white"
            >Submit</a
          >
        </div>
      </nav>
    </div>
  </div>
</seciton>
