<seciton>
  <div class="w-full mx-auto bg-white max-w-screen-2xl border-b px-8 py-1">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full mx-auto md:items-center md:justify-between md:flex-row"
    >
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a
          class="text-black inline-flex items-center gap-2 uppercase text-sm"
          href="/"
        >
          <svg
          class="h-5"
            viewBox="0 0 400 413"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1984_325)">
              <path
                d="M399.998 177.119L399.002 327.11C398.821 354.262 379.84 377.521 353.622 382.718L208.787 411.426C173.982 418.325 141.685 391.092 141.923 355.048L142.921 205.057C143.101 177.906 162.082 154.646 188.299 149.449L333.135 120.741C367.94 113.842 400.238 141.075 399.998 177.119Z"
                fill="currentColor"
                fill-opacity="0.2"></path>
              <path
                d="M329.037 117.307L328.041 267.298C327.86 294.449 308.879 317.709 282.661 322.906L137.825 351.614C103.02 358.513 70.723 331.28 70.963 295.236L71.9593 145.244C72.1393 118.093 91.1217 94.8329 117.339 89.6366L262.174 60.9279C296.979 54.0291 329.277 81.2628 329.037 117.307Z"
                fill="currentColor"
                fill-opacity="0.5"></path>
              <path
                d="M258.076 57.4389L257.079 207.43C256.899 234.583 237.918 257.841 211.7 263.039L66.8651 291.747C32.0601 298.646 -0.238708 271.413 0.00131226 235.369L0.997559 85.3776C1.1788 58.2264 20.16 34.9664 46.3775 29.7689L191.213 1.06134C226.018 -5.8374 258.315 21.3951 258.076 57.4389Z"
                fill="currentColor"
                fill-opacity="0.8"></path>
            </g>
            <defs>
              <clipPath id="clip0_1984_325">
                <rect
                  width="400"
                  height="412.5"
                  fill="currentColor"
                  transform="matrix(-1 0 0 -1 400 412.5)"></rect>
              </clipPath>
            </defs>
          </svg>

       
          <span>Carbon</span>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-zinc-400 hover:text-black focus:outline-none focus:text-black md:hidden"
        >
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center text-base text-black font-medium gap-6 flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row"
      >
        <a class="hover:text-blue-600 lg:ml-auto" href="/"> Overview</a>
        <a class="hover:text-blue-600" href="/system/style-guide">
          Style Guide</a
        >
        <a class="hover:text-blue-600" href="#">Buy Carbon</a>

        <div class="flex flex-col md:flex-row lg:ml-auto gap-2">
          <div class="flex justify-center">
            <div
              x-data="{
            open: false,
            toggle() {
                if (this.open) {
                    return this.close()
                }

                this.$refs.button.focus()

                this.open = true
            },
            close(focusAfter) {
                if (! this.open) return

                this.open = false

                focusAfter && focusAfter.focus()
            }
        }"
              x-on:keydown.escape.prevent.stop="close($refs.button)"
              x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
              x-id="['dropdown-button']"
              class="relative"
            >
              <!-- Button -->
              <button
                x-ref="button"
                x-on:click="toggle()"
                :aria-expanded="open"
                :aria-controls="$id('dropdown-button')"
                type="button"
                class="inline-flex h-10 items-center border border-transparent px-3.5 font-medium justify-between py-2 text-base text-blue-600 hover:bg-zinc-200 hover:text-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-100 cursor-pointer duration-200 gap-12 focus:ring-1 focus:ring-offset-1 focus:ring-blue-600 focus:bg-white focus:border-blue-600"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-6 h-6"
                  viewBox="0 0 32 32"
                  ><path
                    fill="currentColor"
                    d="M16 4a5 5 0 1 1-5 5a5 5 0 0 1 5-5m0-2a7 7 0 1 0 7 7a7 7 0 0 0-7-7zm10 28h-2v-5a5 5 0 0 0-5-5h-6a5 5 0 0 0-5 5v5H6v-5a7 7 0 0 1 7-7h6a7 7 0 0 1 7 7z"
                  ></path></svg
                >
              </button>

              <!-- Panel -->
              <div
                x-ref="panel"
                x-show="open"
                x-transition.origin.top.left
                x-on:click.outside="close($refs.button)"
                :id="$id('dropdown-button')"
                style="display: none;"
                class="absolute -left-12 mt-2 w-52 flex flex-col bg-white shadow rounded-0"
              >
                <a
                  href="/profile/settings"
                  class="flex items-center gap-2 w-full pl-4 pr-16 py-2.5 text-left text-base hover:bg-gray-200 text-black font-normal border-b focus:ring-1 focus:ring-blue-600"
                >
                  Settings
                </a>

                <a
                  href="/profile/collections"
                  class="flex items-center gap-2 w-full pl-4 pr-16 py-2.5 text-left text-base hover:bg-gray-200 text-black font-normal border-b focus:ring-1 focus:ring-blue-600"
                >
                  Collections
                </a>

                <a
                  href="/directory/submit"
                  class="flex items-center gap-2 w-full pl-4 pr-16 py-2.5 text-left text-base hover:bg-gray-200 text-black font-normal border-b focus:ring-1 focus:ring-blue-600"
                >
                  Submit
                </a>
                <a
                  href="/profile/submissions"
                  class="flex items-center gap-2 w-full pl-4 pr-16 py-2.5 text-left text-base hover:bg-gray-200 text-black font-normal border-b focus:ring-1 focus:ring-blue-600"
                >
                  Submission
                </a>
                <a
                  href="/profile/profile"
                  class="flex items-center gap-2 w-full pl-4 pr-16 py-2.5 text-left text-base hover:bg-gray-200 text-black font-normal border-b focus:ring-1 focus:ring-blue-600"
                >
                  Your profile
                </a>
                <a
                  href="/forms/logout"
                  class="flex items-center gap-2 w-full pl-4 pr-16 py-2.5 text-left text-base hover:bg-gray-200 text-black font-normal border-b focus:ring-1 focus:ring-blue-600"
                >
                  Log out
                </a>
              </div>
            </div>
          </div>

          <a
            href="/forms/login"
            class="inline-flex h-10 items-center border border-blue-600 px-3.5 justify-between py-2 text-base font-medium text-blue-600 hover:bg-blue-600 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-100 cursor-pointer duration-200 gap-12 focus:ring-1 focus:ring-offset-1 focus:ring-blue-600 focus:bg-blue-600 focus:text-white"
            >Log in</a
          >
        </div>
      </nav>
    </div>
  </div>
</seciton>
